---
import Latex from "@components/latex.astro";
export const title = "How Does Symbolic Differentiators Like Wolfram Work?";
export const cover = "symbolic-differentiation.webp";
---

<p>
    One day I woke up and suddenly this question appeared. How would tools like Wolfram Alpha differentiate<sup>1</sup>
    seemingly impossible equations like <Latex formula="\\int_x^3 e^x dx" />? I knew how to implement a Riemann sum
    calculator or use Newton approximation to differentiate equations using limits but symbolic differentiation is
    different. In the most cases, there are not even a symbolic differentiation of the equations.
</p>
<aside>
    <p data-ref="1">The main reason for compilers to be that popular is the introduction of C++ in 1972.</p>
    <p data-ref="2">Differentiation is a fancy one gurll!</p>
</aside>
<p>
    The next thing I know was I was on my computer, searching for answers. I am a caveman and I need answers! Right?
    Well, the clouds disappeared after a bunch of articles. They're just parsers with predefined chain rules evaluated
    recursively.
</p>

<Latex formula={String.raw`\alpha^2 + 3\alpha - \frac{1}{2} = 5\int_x^3 e^x dx`} display />

<p>
    The next thing I know was I was on my computer, searching for answers. I am a caveman and I need answers! Right?
    Well, the clouds disappeared after a bunch of articles. They're just parsers with predefined chain rules evaluated
    recursively.
</p>
