---
export const title = "Web Development Has Lost Its Appeal For Good";
export const subtitle = "I've meet with web development right in the very beginning of the wars.";
export const cover = "web-development-lost-its-appeal.webp";
export const coverAttribution = {
    name: "Jo Yesol",
    url: "https://www.google.com",
};
export const date = new Date("2025-01-14");
---

<p>
    Recently, one day I woke up and suddenly this question appeared. How would tools like Wolfram Alpha differentiate<sup
        >1</sup
    >
    seemingly impossible equations like <Latex formula="\\int_x^3 e^x dx" />? I knew how to implement a Riemann sum
    calculator or use Newton approximation to differentiate equations using limits but symbolic differentiation is
    different. In the most cases, there are not even a symbolic differentiation of the equations.
</p>

<h2>I started from scratch.</h2>

<p>
    The next thing I know was I was on my computer, searching for answers. I am a caveman and I need answers! Right?
    Well, the clouds disappeared after a bunch of articles. They're just parsers with predefined chain rules evaluated
    recursively.
</p>
<aside>
    <p>The main reason for compilers to be that popular is the introduction of C++ in 1972.</p>
</aside>

<p>
    The next thing I know was I was on my computer, searching for answers. I am a caveman and I need answers! Right?
    Well, the clouds disappeared after a bunch of articles. They're just parsers with predefined chain rules evaluated
    recursively.
</p>

<Latex formula="y = \\int_x^\\infty e^x \\sin^2\\left( \\frac{x}{2} \\right) dx" display />

<p>
    One day I woke up and suddenly this question appeared. How would tools like Wolfram Alpha differentiate<sup>1</sup>
    seemingly impossible equations like <Latex formula="\\int_x^3 e^x dx" />? I knew how to implement a Riemann sum
    calculator or use Newton approximation to differentiate equations using limits but symbolic differentiation is
    different. In the most cases, there are not even a symbolic differentiation of the equations.
</p>
