---
import Layout from "@layouts/layout.astro";

const articles = Object.values(import.meta.glob("../articles/content/*.astro", { eager: true })) satisfies Array<{
    file: string;
    title: string;
    cover: string;
    date: Date;
    subtitle?: string;
}>;
---

<Layout>
    <main>
        <article>
            <header>
                <h1>
                    Hey! I'm Can <strong>&mdash;</strong>
                    <br />
                    a <em>software engineer</em> based in Istanbul.
                </h1>
                <div class="links">
                    <a href="https://github.com/XenoverseUp" target="_blank">github</a>
                    <a href="https://www.linkedin.com/in/can-durmuss/" target="_blank">linkedin</a>
                    <a href="/">resume</a>
                </div>
                <p>I like talking about stuff I have found interesting. So, here are my blog posts.</p>
            </header>

            <div class="content">
                <section>
                    <ol>
                        {
                            articles
                                .sort((a, b) => (a.date < b.date ? 1 : -1))
                                .map((item) => {
                                    const slug = item.file.split("/").at(-1)?.split(".").at(0) ?? "";
                                    return (
                                        <a data-astro-prefetch="viewport" href={`/articles/${slug}`} class="card">
                                            <li>
                                                <h3>{item.title}</h3>
                                            </li>
                                        </a>
                                    );
                                })
                        }
                    </ol>
                </section>
            </div>
        </article>
    </main>
</Layout>

<style>
    .links {
        display: flex;
        gap: 0.5em;

        font-size: 1.2rem;
    }

    article {
        width: 100%;
        max-width: 850px;
        padding-inline: 3rem;
        margin-inline: auto;
        margin-top: 14rem;
        display: grid;

        grid-template-columns: [main-start] 1fr [main-end sidebar-start] 100px [sidebar-end];
        font-size: 1.2em;
        line-height: 1.35;

        @media (max-width: 960px) {
            grid-template-columns: [main-start] 1fr [main-end];
        }

        @media (max-width: 640px) {
            font-size: 1em;
            margin-top: 4rem;
            padding-inline: 2rem;
        }
    }

    article > * {
        grid-column: main;
        word-wrap: break-word;
        hyphens: auto;
    }

    article > header {
        margin-bottom: 2rem;
        max-width: 100%;
    }

    article > header h1 {
        font-size: calc(min(230%, 8vw));
        letter-spacing: -0.05ch;
        font-weight: 400;
        font-style: normal;
        line-height: 1.15;
        font-family: "Computer Modern Serif", Georgia, "Times New Roman", Times, serif;
        margin-bottom: 1rem;
    }

    article > header p {
        margin-top: 2em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.5;
    }

    article > header h1 .line {
        overflow: hidden;
        height: 100%;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 0.6em;
        font-size: 1.1rem;
        margin-bottom: 2em;

        @media (max-width: 640px) {
            font-size: 1rem;
        }
    }

    section h2 {
        font-size: inherit;
    }

    section ol {
        display: flex;
        flex-direction: column;
        gap: 0.75em;
        margin-top: 0.3em;
        list-style-type: decimal-leading-zero;
        padding-left: 1.6em;
    }

    section ol li {
        padding-left: 0.5em;
        list-style-position: outside;
    }

    section ol a {
        text-decoration: none;
    }

    section ol li::marker {
        color: rgba(0, 0, 0, 0.5);
    }

    section ol li > h3 {
        font-size: inherit;
        font-weight: 600;
    }

    section ol > li > p {
        font-size: 1rem;
        margin-bottom: 0.5em;
    }
</style>
