---
const { name } = Astro.props;
---

<style>
    #card {
        user-select: none;
        width: 100%;
        aspect-ratio: 16 / 9;
        background: #fff;
        box-shadow:
            0px 2.1px 5.7px rgba(0, 0, 0, 0.016),
            0px 5.4px 14.5px rgba(0, 0, 0, 0.022),
            0px 11px 29.6px rgba(0, 0, 0, 0.028),
            0px 22.6px 61px rgba(0, 0, 0, 0.034),
            0px 62px 167px rgba(0, 0, 0, 0.05);
        position: relative;
        overflow: hidden;
        display: flex;
        padding: 1.5rem;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    #star {
        position: absolute;
        right: -4rem;
        top: -3rem;
        width: 18rem;
    }

    #star path {
        fill: #ff523f;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    h1 {
        z-index: 2;
        font-family: "Computer Modern Serif", serif;
        font-weight: 600;
        font-size: 1.75em;
        margin: 0;
    }

    h2 {
        z-index: 2;
        font-family: "Helvetica", sans-serif;
        font-size: 0.9rem;
        margin: 0;
        opacity: 0.7;
        font-weight: 400;
        text-transform: uppercase;
    }

    #links {
        display: flex;
        flex-direction: column;
    }
</style>

<div id="card">
    <header>
        <h1>{name}</h1>
        <h2>Engineering Student</h2>
    </header>
    <svg id="star" viewBox="0 0 68 66" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M58.2381 46.469C57.0662 46.469 57.0662 48.2893 58.2381 48.2893C59.41 48.2893 59.41 46.469 58.2381 46.469Z"
        ></path>
        <path
            d="M57.3589 25.4099C58.5308 25.4099 58.5308 23.6013 57.3589 23.6013C56.1909 23.6013 56.1909 25.4099 57.3589 25.4099Z"
        ></path>
        <path
            d="M45.0391 10.8979C46.211 10.8979 46.211 9.07764 45.0391 9.07764C43.8789 9.07764 43.8711 10.8979 45.0391 10.8979Z"
        ></path>
        <path
            d="M42.8521 56.5901C41.6802 56.5901 41.6802 58.3987 42.8521 58.3987C44.0123 58.3987 44.0123 56.5901 42.8521 56.5901Z"
        ></path>
        <path
            d="M22.6089 56.3711C21.437 56.3711 21.437 58.1797 22.6089 58.1797C23.7808 58.1797 23.7808 56.3711 22.6089 56.3711Z"
        ></path>
        <path
            d="M21.73 9.57811C22.9019 9.57811 22.9019 7.75781 21.73 7.75781C20.5581 7.76172 20.5581 9.57811 21.73 9.57811Z"
        ></path>
        <path
            d="M47.4101 23.4691C47.5819 22.848 46.9608 22.098 46.289 22.348C44.6406 22.9691 42.9999 23.5863 41.3476 24.2074C40.9569 24.348 40.5585 24.4965 40.1679 24.6488C39.5194 24.8988 37.8085 25.8793 37.246 25.3793C36.9569 25.1293 36.7772 24.5394 36.5975 24.1996C36.3475 23.7191 36.0975 23.2308 35.8475 22.7387C34.0077 19.1098 32.4061 15.2778 32.4256 11.1487C32.4256 10.2776 31.1561 9.87917 30.7342 10.6877C28.4139 15.0861 26.2225 19.5471 24.1561 24.0667C22.2264 23.2777 20.3045 22.4886 18.3749 21.7073C17.953 21.5276 17.3358 21.8987 17.2538 22.3362C17.0937 23.2972 17.1054 24.2346 17.2851 25.137C17.2265 25.3363 17.2343 25.5589 17.3358 25.7855C18.0077 27.2464 18.6756 28.7074 19.3475 30.1644C18.4061 30.6253 17.4764 31.0941 16.5389 31.555C14.7772 32.4261 13.0194 33.2855 11.2694 34.1566C10.371 34.598 10.9296 35.7582 11.7187 35.848C14.6484 36.1761 17.5078 36.8363 20.2968 37.7699C19.5663 40.598 18.828 43.4301 18.0976 46.2582C17.8866 47.0668 19.0194 47.8793 19.6171 47.1371C20.6288 45.8871 21.8085 44.7855 23.1757 43.9379C23.7968 43.5473 24.4452 43.1879 25.1249 42.9067C25.785 42.6176 27.0038 42.0083 27.6952 42.3559C28.2459 42.6372 28.535 43.6176 28.7655 44.1371C29.1366 44.9887 29.5037 45.848 29.8749 46.7074C30.6639 48.5472 31.4647 50.3871 32.2538 52.2191C32.5936 53.0004 33.6835 52.6683 33.914 52.0082C35.2851 48.0082 37.0742 44.1996 39.2226 40.5672C42.1523 42.3289 44.8437 44.407 47.2421 46.8484C47.871 47.4773 48.914 46.8484 48.8007 46.0867C48.7811 45.9773 48.7421 45.8562 48.6718 45.7468C47.3007 43.5984 45.4609 40.7156 46.9726 38.1765C48.2617 35.9773 51.1132 37.4382 52.6718 35.6374C53.0702 35.1765 52.9921 34.5593 52.4921 34.2155C50.0116 32.5358 47.3202 31.2272 44.4804 30.3171C45.7499 28.1726 46.7382 25.8715 47.4101 23.4691Z"
        ></path>
        <path
            d="M8.76198 45.1479C7.59008 45.1479 7.59008 46.9683 8.76198 46.9683C9.92218 46.9683 9.92998 45.1479 8.76198 45.1479Z"
        ></path>
        <path
            d="M8.53909 25.1909C9.69929 25.1909 9.71099 23.3823 8.53909 23.3823C7.37109 23.3784 7.37109 25.1909 8.53909 25.1909Z"
        ></path>
        <path
            d="M67.5309 33.969C62.1793 31.1995 56.4799 29.1682 50.5819 27.9182C52.4335 23.3791 54.0624 18.7463 55.4803 14.0592C55.6991 13.2975 54.8084 12.6178 54.1522 13.028C49.8827 15.6491 45.4334 17.9499 40.8432 19.9264C38.6713 13.1178 35.7221 6.56738 32.0424 0.438381C31.7143 -0.112399 30.7924 -0.182709 30.4721 0.438381C27.5033 6.40718 24.7104 12.4584 22.0815 18.5794C18.5424 17.1302 15.2026 15.22 12.1323 12.931C11.4526 12.431 10.644 13.2591 10.8042 13.9622C11.9526 18.9739 13.2456 23.9622 14.6636 28.9032C10.1831 30.9149 5.50343 32.4344 0.714629 33.4735C0.425569 33.5321 0.136508 33.8133 0.0740075 34.1024C-0.187712 35.4422 0.675569 36.4227 1.78491 37.0633C3.21461 37.8836 4.76541 38.5633 6.26541 39.2625C8.93731 40.5125 11.6443 41.6609 14.3865 42.7508C12.7146 47.411 11.0349 52.0711 9.35531 56.7198C9.24593 57.0284 9.37484 57.3917 9.58578 57.6104C10.3944 58.4385 11.5467 58.2589 12.4842 57.751C13.6834 57.1104 14.7733 56.1221 15.8748 55.3213C18.0037 53.751 20.1443 52.1924 22.285 50.6221C22.4959 50.5909 22.6639 50.5128 22.8358 50.3839C23.4764 49.8448 24.1249 49.3136 24.7772 48.7823C26.5077 54.5323 28.6756 60.1412 31.2655 65.5632C31.5545 66.1726 32.5272 66.1336 32.8241 65.5632C36.035 59.5944 38.8046 53.3913 41.1249 47.0243C42.5233 48.7157 44.2851 50.1453 45.8866 51.614C48.285 53.8132 50.6874 56.0242 53.0858 58.2351C53.785 58.8758 54.746 58.2234 54.5975 57.3445C53.7264 52.2039 52.8592 47.0635 51.9881 41.9225C57.4686 40.6334 62.7261 38.4733 67.5391 35.5319C68.0898 35.1999 68.1598 34.2893 67.5309 33.969ZM50.6289 40.3792C49.918 40.5393 49.8399 41.2776 50.1602 41.7503C50.1602 41.8206 50.1406 41.8792 50.1485 41.9495C50.3672 43.219 50.5782 44.4807 50.7891 45.7503C51.3281 48.8714 51.8477 52.0003 52.3789 55.1292C50.7187 53.598 49.0586 52.0706 47.3906 50.5394C45.3398 48.6488 42.9023 46.8206 41.4609 44.391C40.8828 43.4223 39.3906 44.2504 39.8515 45.2191C37.6796 51.348 35.0898 57.2971 32.0898 63.0591C29.6484 57.7388 27.6289 52.2501 26.0195 46.6181C25.7304 45.579 24.1914 45.9189 24.2383 46.8798C23.6367 47.3798 23.0391 47.8681 22.4375 48.3603C22.3281 48.3799 22.207 48.4307 22.0976 48.5205C20.0859 49.9893 18.0781 51.4619 16.0664 52.9307C15.0977 53.6416 14.125 54.3526 13.1562 55.0596C12.9375 55.2198 12.0546 56.001 11.4257 56.2901C13.0038 51.9112 14.5859 47.5206 16.164 43.1421C16.6836 42.8023 16.7422 41.7515 15.9453 41.4429C13.3242 40.4234 10.7461 39.3335 8.19529 38.1734C6.95699 37.5953 5.71479 37.0132 4.48439 36.4039C4.09377 36.2125 2.52349 35.6344 1.99609 35.0328C6.78519 33.943 11.4453 32.3609 15.9261 30.3219C16.3245 30.1305 16.4456 29.7828 16.3675 29.4508C16.5159 29.2594 16.5784 29.0094 16.4886 28.7125C15.2581 24.443 14.1292 20.1344 13.098 15.8145C15.8792 17.6739 18.848 19.2442 21.9691 20.4942C22.3285 20.6349 22.6292 20.5333 22.8206 20.3145C23.0902 20.3263 23.3597 20.1856 23.5003 19.8458C25.9495 14.0958 28.5706 8.42379 31.3206 2.82579C34.7112 8.70469 37.4222 14.9158 39.4104 21.4038C39.5393 21.8257 40.0589 22.2319 40.5315 22.0327C44.8323 20.2241 49.0003 18.1421 53.0315 15.7944C51.7815 19.7358 50.3909 23.6225 48.8323 27.4424C48.6917 27.8018 48.7816 28.083 48.9808 28.2705C48.7191 28.751 48.8323 29.4111 49.5003 29.54C54.93 30.6298 60.1913 32.3994 65.1603 34.8212C60.6212 37.3915 55.738 39.262 50.6289 40.3792Z"
        ></path>
    </svg>

    <div id="links">
        <a>in/muhammed-can-durmus</a>
        <a>github/XenoverseUp</a>
        <a>mdurmus19@ku.edu.tr</a>
    </div>
</div>
