article {
    width: 100%;
    padding-left: max(6vw, 1.5rem);
    padding-right: max(4vw, 1rem);
    padding-block: 6rem;
    display: grid;
    gap: 0 48px;
    grid-template-columns: [main-start] 3fr [main-end sidebar-start] 1fr [sidebar-end];
    font-size: 1.2em;
    line-height: 1.35;
    height: fit-content;
}

article > * {
    grid-column: main;
    word-wrap: break-word;
    hyphens: auto;
    height: fit-content;
}

article > aside {
    grid-column: sidebar;
    font-size: 0.8rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.7);
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    font-family: "Helvetica", "Arial", sans-serif !important;
}

article > aside > p {
    border-top: 0.5px solid rgba(var(--accent-color), 0.2);
    padding-top: 0.5em;
}

article > aside > *::before {
    content: attr(data-ref);
    position: absolute;
    transform: translateX(-2ch);
    color: rgba(0, 0, 0, 1);
}

article sup {
    font-size: 0.8rem;
    padding-left: 0.1em;
}

article > p:not(.subtitle):first-of-type:first-letter,
article > p.dropcap:first-letter {
    color: rgb(var(--accent-color-light));
    font-size: 4.5rem;
    line-height: 0.89;
    float: left;
    padding-top: 0.1em;
    margin-right: 0.2em;
    initial-letter: 3;
}

@media screen and (max-width: 640px) {
    article {
        grid-template-columns: 1fr;
        padding-inline: 1.5em;
        padding-top: 3rem;
    }

    article > *,
    article > aside {
        grid-column: 1 / -1;
    }

    article > aside::before {
        position: static;
        transform: none;
        display: inline;
        margin-right: 0.5ch;
    }

    article > aside {
        font-size: 0.75rem;
        padding-block: 0 2em;
    }
}

/* Define Component Styles */

article > p {
    font-family: "Computer Modern Serif", Georgia, "Times New Roman", Times, serif;
    text-align: justify;
    font-size: 1em;
}

article p:has(+ p),
article p:has(+ aside + p),
article p:has(+ aside + aside + p) {
    margin-bottom: 1em;
}

article code {
    font-family: "Computer Modern Typewriter", courier, monospace;
    border-radius: 0.2em;
    font-size: 0.9em;
    padding: 0.05em 0.3em;
    background: rgba(var(--accent-color), 0.05);
    color: rgb(var(--accent-color));
    hyphens: none;
}

article > h2 {
    margin-top: 2em;
    margin-bottom: 0.75em;
    font-weight: 600;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: rgb(var(--accent-color));
}
