---
export const title = "Trane.";
export const subtitle = "Concurrently? Nah, we're web developers and have to create an alternative, obviously.";
export const cover = "trane.webp";
export const coverAttribution = {
    name: "Hayden Davis",
    url: "https://dribbble.com/shots/21415567-Vintage-Western-Illustration",
};
export const date = new Date("2025-06-17");
---

<p>Hello aminakoyim.</p>
