---
export const title = "I Stopped Treating Web As If It Is An Instagram Reel";
export const subtitle =
    "I've met with web development right in the beginning of the frontend wars. I was an iPad kid with 5-second attention span. Well, me as an engineer and web environment has matured, finally.";
export const cover = "web-development-lost-its-appeal.webp";
export const coverAttribution = {
    name: "Jo Yesol",
    url: "https://www.google.com",
};
export const date = new Date("2025-01-19");
---

<p>
    I will accept all the shame. I started programming as a self-taught web developer in 2019. It was very special for me seeing my
    text turn into colors and presentations on the browser. What I felt was unique, just like probably 1B+ other people, who
    followed the exact same path<sup>1</sup>. At those times, YouTube tutorials on how to do X in CSS was my type of gem. I have
    watched all <a href="https://www.youtube.com/@developedbyed" target="_blank">DevEd</a>, <a
        href="https://youtube.com/@WebDevSimplified"
        target="_blank">Web Dev Simplified</a
    > and countless other frontend web tutorials (usually library marketing), until most of them seemed to be so trivial. Then one day,
    I was exposed to Primeagean.
</p>

<aside>
    <p data-ref="1"><code>/insert buzz-lightyear-meme.png</code>. I am casually saving on server costs!</p>
</aside>

<Latex formula={String.raw`\int_0^\infty \frac{x^2 + 3x}{4}`} display />

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio obcaecati iusto dolorum eos quas animi id quasi velit quam,
    doloremque porro soluta, in totam exercitationem repudiandae consequuntur aspernatur illum unde?
</p>
