---
export const title = "The Great Depression: Struggles of A Junior Engineer"
export const subtitle =
    "Yayy! I have graduated from a top school with two complete engineering degrees in hand. Ready to enter the professional life. But why do the industry hate me?"
export const cover = "why-do-they-hate-mee.webp"
export const coverAttribution = {
    name: "Xinyue Chen",
    url: "https://dribbble.com/shots/26074180-Home-a-painting-by-Xinyue-Chen",
}
export const date = new Date("2025-06-18")
---

<p>
    For the last 2 years, I have heard people online talking about how the job market is saturated, how competitive it is and how depressing the situation in the job-seekers' shoes. Besides, the artificial intelligence slope<sup>1</sup> we have right now was the cherry on top: Everybody tries to <em>erase</em>, <em>replace</em> or <em>use</em> developers, as if we're the reason their dumbass startup idea is having a revenue of $93.75 a month. Despite all that noise, I never questioned my engineering skills and ability to find a job that felt right.
</p>

<p>
    So, I will talk about my recent job hunt experience along with some toxic behaviour examples, I encountered during screening and interviews. And the most importantly, how to embrace yourself and your journey.
</p>

<h2>The Story</h2>
<p>
    Let me take it from the start. I've always wanted to become an engineer, and nothing changed about that. I started my bachelor's
    in Electronics Engineering and than started a DM in Computer Science. I was a competent student and when combined with my
    passion for software engineering, I didn't even give a chance not to find a job<sup>1</sup>.
</p>
<aside>
    <p data-ref="1">At least that was what my friends and professors told me.</p>
</aside>


<h2>Resolution</h2>

<p>There's expectancy which pushes us down in depression, but what we want is the important part.</p>
