---
export const title = "The Great Depression: Struggles of A Junior Engineer";
export const subtitle =
    "Yayy! I have graduated from top schools, with two complete engineering degrees in hand. Ready to enter the professional life. But why do they hate me?";
export const cover = "why-do-they-hate-me.webp";
export const coverAttribution = {
    name: "Stuart Hunter",
    url: "https://dribbble.com/shots/26014932-brrrrrrrrr-scene",
};
export const date = new Date("2025-06-18");
---

<p>
    Let me introduce myself. I am Can and I'm here to whine all about the industry. However, I am not sure if it is me that is
    problematic. I don't understand anything anymore. You'll ask me why are you having a depression, what is the point even? You'll
    ask me why are you having a depression, what is the point even?
</p>
