---
import FontProvider from "@components/font-provider.astro";
import "@css/main.css";
// import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font@master/fonts.css"
        />

        <FontProvider
            fonts={{
                "Computer Modern Bright": new Set([100]),
            }}
        />

        <title>Can Durmus</title>
        <slot name="head" />
        <!-- <ClientRouter fallback="none" /> -->
    </head><body>
        <slot />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
